@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800;900&display=swap');
body {
    justify-content: center;
    align-items: center;
    background-image: url(/images/Webbg1.png);
    background-position: center;
  }

h1 {
  color: aqua;
  text-align: center;
  font-family: Poppins;
}