body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/images/Webbg1.png);
    background-position: center;
  }

  .container {  
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 19px 9px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ""
      ""
      ""
      ""
      "";
    width: 1200px;
  }
  